{% extends '@CocoricoUser/Dashboard/Profile/layout.html.twig' %}

{% trans_default_domain 'cocorico_user' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'payment' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <!-- form-area -->
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    <fieldset>
        <legend class="hidden">legend</legend>
        <!-- alert -->
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        {{ form_errors(form) }}
        <div class="tab-content">
            <!-- tab payment-info -->
            <div id="payment-info" class="tab-pane active" role="tabpanel">
                <div class="form-holder columns-holder">
                    <h3>{{ 'user.edit.payment.title'|trans }}</h3>
                    <!-- about-info -->
                    <div class="payment-info">
                        <div class="column">
                            <div class="field-row">
                                {{ form_errors(form.lastName) }}
                                <span class="label">{{ form_label(form.lastName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.lastName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.firstName) }}
                                <span class="label">{{ form_label(form.firstName) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.firstName, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.birthday) }}
                                <span class="label">{{ form_label(form.birthday) }}</span>

                                <div class="field-holder">
                                    <div class="field-day">
                                        {{ form_widget(form.birthday.day, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-month">
                                        {{ form_widget(form.birthday.month, {
                                            'attr': {
                                                'class': "form-control no-arrow",
                                            }
                                        } ) }}
                                    </div>
                                    <div class="field-year">
                                        {{ form_widget(form.birthday.year, {
                                            'attr': {
                                                'class': "form-control no-arrow"
                                            }
                                        } ) }}
                                    </div>
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.nationality) }}
                                <span class="label">{{ form_label(form.nationality) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.nationality,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.gender) }}
                                <span class="label">{{ form_label(form.gender) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.gender,{
                                        'attr': {
                                            'class': "no-arrow"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.experience) }}
                                <span class="label">{{ form_label(form.experience) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.experience,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.profession) }}
                                <span class="label">{{ form_label(form.profession) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.profession,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="field-row">
                                {{ form_errors(form.university) }}
                                <span class="label">{{ form_label(form.university) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.university,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.degree) }}
                                <span class="label">{{ form_label(form.degree) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.degree,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.subject_taken) }}
                                <span class="label">{{ form_label(form.subject_taken) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.subject_taken,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                            <div class="field-row">
                                {{ form_errors(form.passing_year) }}
                                <span class="label">{{ form_label(form.passing_year) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.passing_year,{
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    } ) }}
                                </div>
                            </div>
                            <div class="field-row price-field">
                                {{ form_errors(form.certificate) }}
                                <span class="label">{{ form_label(form.certificate) }}</span>
                                <div class="field-holder">
                                    {{ form_widget(form.certificate,{
                                        'attr': {
                                            'class': "numbers-only form-control"
                                        }
                                    }) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {

        });
    </script>

{% endblock %}
