{% extends '@CocoricoUser/Dashboard/Profile/layout.html.twig' %}

{% trans_default_domain 'cocorico_user' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'contact' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <!-- form-area -->
    {{ form_start(form, {'attr': {'class': 'form-area'}}) }}
    <fieldset>
        <legend class="hidden">legend</legend>
        <!-- alert -->
        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
        {{ form_errors(form) }}
        <div class="tab-content">
            <!-- tab about-me -->
            <div id="contact-info" class="tab-pane active" role="tabpanel">
                <div class="form-holder">
                    <h3>{{ 'user.edit.contact.title'|trans }}</h3>

                    <div class="contact-info">
                        <div class="column">

                            <div class="field-row">
                                {{ form_errors(form.email) }}
                                <span class="label">{{ form_label(form.email) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.email, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    }) }}

                                    <span>
                                        {% if user.emailVerified %}
                                            <i class="icon-ok"></i>
                                            <strong>{{ "verified"|trans({},'cocorico_listing') }}</strong>
                                        {% else %}
                                            <i class="icon-cancel"></i>
                                            <strong>{{ "no_verified"|trans({},'cocorico_listing') }}</strong>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                            <div class="field-row">
                                {{ form_errors(form.phone) }}
                                <span class="label">{{ form_label(form.phone) }}</span>

                                <div class="field-holder">
                                    {{ form_widget(form.phone, {
                                        'attr': {
                                            'class': "form-control"
                                        }
                                    }) }}

                                    <span>
                                        {% if user.phoneVerified %}
                                            <i class="icon-ok"></i>
                                            <strong>{{ "verified"|trans({},'cocorico_listing') }}</strong>
                                        {% else %}
                                            <i class="icon-cancel"></i>
                                            <strong>{{ "no_verified"|trans({},'cocorico_listing') }}</strong>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="column">
                            {% for address in form.addresses %}
                                <h4>{{ address.vars.data.getTypeText()|trans }}</h4>

                                <div class="field-row alt">
                                    {{ form_errors(address.address) }}
                                    <span class="label">
                                        {{ form_label(address.address) }}
                                    </span>

                                    <div class="field-holder">
                                        {{ form_widget(address.address, {
                                            'attr': {
                                                'class': "form-control"
                                            }
                                        }) }}
                                    </div>
                                </div>

                                <br/>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="btn-block text-center">
                    <button type="submit" class="btn btn-default">{{ 'profile.edit.submit'|trans }}</button>
                </div>
            </div>

        </div>
    </fieldset>
    {{ form_end(form) }}
{%- endblock %}
