{% extends '::base.html.twig' %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <div class="col-xs-12">
                {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                <div id="form-registerlogin" class="form-signup validate-form">

                    <form class="form" id="tutorRegisterForm" action="{{ path('tutor_register') }}" method="POST" autocomplete="off">

                        {% include '@CocoricoTutor/Common/_login_register.html.twig' with {
                            'form_registration': form,
                            'form_login': false
                        } only %}

                        <input type="hidden" id="isVerified" value="no">

                        <div class="btn-block text-center">
                            <button type="submit" id="submitButton" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
	    $(document).ready(function(){
		    function checkFormFields() {
                let formStatus = true;
                $('#tutorRegisterForm').serializeArray().forEach(formField => {
                    if (!formField.value) {
                        formStatus = false;
                    }
                });

                return formStatus;
            }

            $("#submitButton").on('click', function(e) {
	            let formStatus = checkFormFields();

                if ($("#isVerified").val() === "no" && formStatus === true)
                    $("#exampleModal").modal();
                else
                    $('#tutorRegisterForm').submit();
            });

            $("#verifyCodeButton").on('click', function(e) {
                let verifyCode = $("#verifyCode").val();
                let formStatus = checkFormFields();

                if (formStatus === true) {
                    $.ajax({
                        method: 'post',
                        url: Routing.generate('verify_phone_number'),
                        data: {code: verifyCode},
                        success: function (result) {
                            if (result.status === true) {
                                $('#exampleModal').modal('toggle');
                                $("#isVerified").val('yes');
                            } else {
                                $("#verifyCode").after('<span class="error icon-error-field parsley-required">Incorrect security code!</span>');
                            }
                        }
                    });
                }
            });
	    });

    </script>
{%- endblock %}